{% extends "diffusionx/experiments/experiment.html" %}

{% block step-content %}
    <div class="row">
        <div class="step_select_panel col-lg-6">
            <div class="step_select_panel_container">
                <h1 class="step_title"> Choose seed </h1>
                <label class="seed_criteria">Criteria:</label>
                <select id="select_seed_criteria">
                    {% for id, name in seed_criteria %}
                        <option value={{ id }}>{{ name }}</option>
                    {% endfor %}
                </select>
                <div class="row seed_radio_container">
                    <div class="option_menu_radio">
                        <label><input type="radio" name="radio_seed" value="percent">Percent of all nodes</label>
                    </div>
                    <div class="option_menu_radio">
                        <label><input type="radio" name="radio_seed" value="number">Number of nodes</label>
                    </div>
                </div>

                <br/>
                <div class="option_menu_input" id="nodes_percent_container">
                    <input type="number" name="nodes_percentage" class="form-control" min="1"
                           max="100"
                           step="1" value="5" required="" disabled>
                    <i class="fas fa-percent"></i>
                    <button class="btn btn-success btn-seed" onclick="Step2.addSeedNodesPercentage()">ADD</button>
                </div>
                <div class="option_menu_input" id="nodes_number_container">
                    <input type="number" name="nodes_number" class="form-control" min="1" step="1" value="1" required=""
                           disabled>
                    <button class="btn btn-success btn-seed" onclick="Step2.addSeedNodesNumber()">ADD</button>
                </div>
            </div>
        </div>


        <div id="selected_list_container" class="col-lg-6">
            <div id="selected_list">
                <h2 class="reddish_bg"> Selected </h2>
                <table id="selected_table" class="reddish_bg">
                    <div id="empty_list">
                        <img src="/static/img/logo.svg">
                        <h5> NOTHING SELECTED</h5>
                    </div>
                </table>
            </div>
        </div>
    </div>
    <template id="selected_criteria_row">
        <tr>
            <td class="criteria_value"></td>
            <td class="criteria_description"></td>
            <td class="remove_button">
                <button class="btn btn-danger" onClick="Step2.removeCriteria(this)">
                    <i class="fas fa-times"></i>
                </button>
            </td>
        </tr>
    </template>

{% endblock %}