{% extends "diffusionx/experiments/experiment.html" %}

{% block step-content %}
<div class="custom-row">
    <div class="col-md-6">
        <input type="text" id="searchInput" onkeyup="Step1.filterByName()" placeholder="Search for names..">
        <div id="filter-info" class="networks-none">
            <h2>No network matching criteria</h2>
        </div>
        <div class="network-list-wrapper">
            <table class="table network-list" id="network-select-list">
                <thead class="thead-dark unselectable">
                <tr>
                    <th>Name</th>
                    <th id="c_added_at">Added at</th>
                    <th id="c_add"></th>
                </tr>
                </thead>
                <tbody>
                {% for network in select_list %}
                    <tr class="network-row" id="network-{{ network.0 }}">
                        <td class="nameCell"><a target="_blank" href="/network/{{ network.0 }}">{{ network.1 }}</a></td>
                        <td class="dateCell">{{ network.4 }}</td>
                        <td class="btnCell">
                            <button class="btn btn-add add-network" data-id="{{ network.0 }}">Add</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="empty-select-list" class="networks-none">
                <h2>No network available</h2>
                <a href="/network/new" role="button">Add a new network</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Chosen networks</h3>
        <div class="network-list-wrapper">
            <table class="table network-list" id="network-chosen-list">
                <thead class="thead-dark unselectable">
                <tr>
                    <th>Name</th>
                    <th id="c_added_at">Added at</th>
                    <th id="c_add"></th>
                </tr>
                </thead>
                <tbody>
                {% for network in chosen_list %}
                    <tr class="network-row" id="network-{{ network.0 }}">
                        <td class="nameCell"><a target="_blank" href="/network/{{ network.0 }}">{{ network.1 }}</a></td>
                        <td class="dateCell">{{ network.4 }}</td>
                        <td class="btnCell">
                            <button class="btn btn-danger" data-id="{{ network.0 }}">Remove</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div id="empty-chosen-list" class="networks-none">
                <h2>No network selected</h2>
            </div>
        </div>
    </div>
</div>

{% endblock %}