{% extends "diffusionx/experiments/experiment.html" %}

{% block step-content %}
    <div class="row">
        <div class="step_select_panel col-lg-6">
            <div class="step_select_panel_container">
                <h1 class="step_title"> Diffusion models </h1>
                <button id="icm_properties_button" type="button" class="panel_menu_button btn btn-primary">
                    Independent Cascade
                </button>
                <div id="icm_properties_container" class="option_menu_container">
                    <div class="option_menu_radio">
                        <label><input type="radio" name="icm_parameter" value="single">Single parameter</label>
                    </div>
                    <div class="option_menu_radio">
                        <label><input type="radio" name="icm_parameter" value="series">Series</label>
                    </div>
                    <br/>
                    <div class="option_menu_input" id="icm_single_container">
                        <span>Activation probability: </span><input type="number" name="icm_single"
                                                                    class="form-control small_size_input"
                                                                    min="0" max="1" step="0.01" value="0.3">
                        <br/>
                        <button class="btn btn-success btn-menu-center" onclick="Step3.addIcmSingle()">ADD</button>
                    </div>
                    <div class="option_menu_input" id="icm_series_container">
                        <span>Activation probability</span>
                        <br/>
                        <label>From:</label><input type="number" name="icm_from"
                                                   class="small_size_input form-control" min="0" max="1" step="0.01"
                                                   value="0.01">
                        <label>To:</label><input type="number" name="icm_to" class="small_size_input form-control"
                                                 min="0" max="1" step="0.01" value="1.00">
                        <label>Steps:</label><input type="number" name="icm_step"
                                                    class="small_size_input form-control" value="2" min="2" step="1">
                        <br/>
                        <button class="btn btn-success btn-menu-center" onclick="Step3.addIcmSeries()">ADD</button>
                    </div>
                </div>

                <button id="ltm_properties_button" type="button" class="panel_menu_button pmb_margin btn btn-primary">
                    Linear Threshold Model
                </button>
                <div id="ltm_properties_container" class="option_menu_container">
                    <div class="option_menu_radio">
                        <label><input type="radio" name="ltm_parameter" value="single">Single parameter</label>
                    </div>
                    <div class="option_menu_radio">
                        <label><input type="radio" name="ltm_parameter" value="series">Series</label>
                    </div>
                    <br/>
                    <div class="option_menu_input" id="ltm_single_container">
                        <span>Threshold value:</span><input type="number" name="ltm_single"
                                                            class="form-control small_size_input"
                                                            min="0" max="1" step="0.01" value="0.30">
                        <br/>
                        <button class="btn btn-success btn-menu-center" onclick="Step3.addLtmSingle()">ADD</button>
                    </div>
                    <div class="option_menu_input" id="ltm_series_container">
                        <span>Threshold value</span>
                        <br/>
                        <label>From:</label><input type="number" name="ltm_from"
                                                   class="small_size_input form-control" min="0" max="1" step="0.01"
                                                   value="0.01">
                        <label>To:</label><input type="number" name="ltm_to" class="small_size_input form-control"
                                                 min="0" max="1" step="0.01" value="1.00">
                        <label>Steps:</label><input type="number" name="ltm_step"
                                                    class="small_size_input form-control" value="1" min="1" step="1">
                        <br/>
                        <button class="btn btn-success btn-menu-center" onclick="Step3.addLtmSeries()">ADD</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="selected_list_container" class="col-lg-6">
            <div id="selected_list">
                <h2 class="blue_bg"> Selected </h2>
                <table id="selected_table" class="blue_bg">
                    <div id="empty_list">
                        <img src="/static/img/logo.svg">
                        <h5> NOTHING SELECTED</h5>
                    </div>
                </table>
            </div>
        </div>
    </div>
    <template id="selected_criteria_row">
        <tr class="single">
            <td class="criteria_value" colspan="3"></td>
            <td class="criteria_type"></td>
            <td class="criteria_description"></td>
            <td class="remove_button">
                <button class="btn btn-danger" onClick="Step3.removeSelectedElement(this)">
                    <i class="fas fa-times"></i>
                </button>
            </td>
        </tr>
    </template>

    <template id="selected_series_criteria_row">
        <tr class="series">
            <td class="criteria_value from">
                <div>From</div>
                <span></span></td>
            <td class="criteria_value to">
                <div>To</div>
                <span></span></td>
            <td class="criteria_value step">
                <div>Steps</div>
                <span></span></td>
            <td class="criteria_type"></td>
            <td class="criteria_description"></td>
            <td class="remove_button">
                <button class="btn btn-danger" onClick="Step3.removeSelectedElement(this)">
                    <i class="fas fa-times"></i>
                </button>
            </td>
        </tr>
    </template>

    <form id="run-experiment-form" action="/experiment/state/submit" hidden></form>
{% endblock %}