
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #343434;
    fill: #84dbff;
    stroke-width: 2px;
}

.reversed-slider {
    direction: rtl;
}

#graph-window {
    text-align: center;
}

#graph-window svg {
    margin: 1rem auto 0;
    border: 2px solid;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.diffusion-step-status {
    text-align: center;
    margin-bottom: 0;
}

.diffusion-card {
    margin-top: 1rem;
}

.status-value {
    display: block;
}

@media (min-width: 768px) {
    .diffusion-card {
        width: 67%;
    }
}

#details-card .table th, #details-card .table td {
    padding: 0.15rem;
}

.animation-status {
    background: aliceblue;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.diffusion-card .card-title {
    display: inline-block;
}

.diffusion-card .delete-button-form {
    display: inline-block;
    margin-left: 1rem;
}