.network-list-wrapper {
    max-height: 52vh;
    min-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
}

#searchInput {
    background: url('../img/searchicon.png') no-repeat 10px 12px;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.btn-add {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-add:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.network-list tr {
    background: #eeeeee4d;
}

.network-list .nameCell {
    font-weight: bold;
}

#button-row {
    text-align: right;
    padding: 15px;
}

#c_added_at {
    width: 145px;
}

#c_add {
    width: 110px;
}

#nav-field {
    background: #eeeeee;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.steps {
    width: 100%;
}

.steps ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.steps li.tab-experiment {
    width: 33.3333%;
    float: left;
    padding: 0;
    display: block;
}

.steps .tab-experiment a {
    display: block;
    margin: 1em 0.5em 0.2em;
    padding: 0.5em 0.5em;
    color: #fff;
    background: #8abf97;
    cursor: default;
    border-radius: 5px;
}

.steps .tab-experiment a.selected {
    background: #1e7e34;
}

.steps .tab-experiment a:hover {
    color: white;
    text-decoration: none;
}

.steps .tab-experiment a.selected:hover {
    background: #367e4a;
    cursor: pointer;
}

.steps .tab-experiment a.active:hover {
    background: #78bf84;
    cursor: pointer;
}

.steps .tab-experiment a.disabled:hover {
    pointer-events: none;
}

.center-title-steps {
    margin: 0 auto;
    width: 280px;
    text-align: center;
}

.center-title-steps h2 {
    font-weight: lighter;
}

.left-title-steps {
    float: left;
    margin-left: 0.5em;
}

.right-title-steps {
    float: right;
    margin-right: 0.5em;
}

.btn-steps {
    width: 100px;
    margin-top: 0.5em;
}

#nextStep {
    text-transform: uppercase;
}

.networks-none {
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.networks-none h2 {
    margin-top: 62px;
    font-weight: 200;
    width: 100%;
    text-align: center;
}

/* SEED - STEP 2*/
.step_select_panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step_title {
    text-align: center;
    margin-bottom: 30px;
    font-variant: small-caps;
}

.pmb_margin {
    margin-top: 40px;
}

.panel_menu_button {
    min-width: 350px;
}

.option_menu_container {
    width: 100%;
    text-align: center;
    display: none;
}

.seed_radio_container {
    justify-content: space-around;
}

.option_menu_container input[type=radio] {
    display: inline-block !important;
    margin-right: 0.2em;
}

input[type=number] {
    width: auto;
    display: inline-block !important;
    text-align: right;
    font-weight: bolder;
}

.small_size_input {
    width: 5rem !important;
}

.option_menu_radio {
    padding: 1rem;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

.option_menu_input {
    display: none;
}

.btn-seed {
    margin-left: 20px;
    vertical-align: top;
}

.step_select_panel_container {
    width: 500px;
    padding: 30px;
    text-align: center;
    min-height: 400px;
    background: #dddddd;
}

@media (min-width: 992px) {
    .step_select_panel_container {
        margin-left: auto;
    }
}

#selected_list_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selected_list {
    width: 500px;
    background: #eeeeeeee;
    min-height: 400px;
}

#selected_list h2 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: .5rem;
    font-variant: small-caps;
    color: white;
}

@media (min-width: 992px) {
    #selected_list {
        margin-right: auto;
    }
}

@media (max-width: 991px) {
    #selected_list {
        margin-top: 2rem;
    }
}

#selected_table .criteria_value {
    width: auto;
    text-align: center;
    white-space: nowrap;
}

#selected_table .criteria_description {
    text-align: center;
    width: 100%;
}

#selected_table .criteria_type {
    min-width: 5rem;
    background: #add1e6;
    font-weight: 400;
    text-align: center;
}

#selected_table .from {
    border-right: 1px #dddddd solid;
}

#selected_table .to {
    border-left: 1px #dddddd solid;
    border-right: 1px #dddddd solid;
}

#selected_table .step {
    border-left: 1px #dddddd solid;
}

td.criteria_value div {
    min-width: 2.5rem;
}

table.blue_bg tr:nth-child(even) {
    background: #b0c1d2;
}

table.blue_bg tr:nth-child(odd) .criteria_type {
    background: #d2e9f7 !important;
}

#selected_table tr {
    border-top: solid 1px #b9b9b975;
}

#selected_table td {
    border: none;
    padding: 0.4rem;
}

h2.blue_bg {
    background: #97a8b9;
}

table.blue_bg tr:nth-child(even) {
    background: #b0c1d2;
}

h2.reddish_bg {
    background: #b99797;
}

table.reddish_bg tr:nth-child(even) {
    background-color: #d2bebe;
}

#selected_table td.criteria_value {
    min-width: 2.5rem;
    font-weight: bold;
    background: #fff4df;
}

#empty_list {
    margin-top: 50px;
}

#empty_list img {
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#empty_list h5 {
    text-align: center;
    color: #7171e6;
}

.btn-menu-center {
    margin-top: 1.5rem;
}
