tr.clickable-row:hover {
    cursor: pointer;
    font-weight: 400;
}

#experiments-table tr.clickable-row:hover {
    background: #3c793c !important;
}

#diffusions-table tr.clickable-row:hover {
    background: #78bf849c !important;
    color: white;
}

#new-experiment-btn-container {
    text-align: right;
    margin-bottom: 1em;
}

.page-item.active .page-link .green {
    background-color: #5cb85c;
    border-color: #3c793c;
}

.thead-mint {
    background: #3cab4f;
    color: whitesmoke;
}

#diffusions-table {
    margin-top: 1rem;
    font-size: 90%;
}

.align-table-margin {
    margin-right: 1rem;
    margin-left: 1rem;
}

#experiment-info-box {
    margin-left: calc(-50vw + 50%);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2em;
    background: green;
    color: white;
    font-size: 1.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

#experiment-info-box p {
    margin-bottom: 0;
}

span.info-header {
    color: #d6d21f;
}

.delete-button-form {
    position: absolute;
    bottom: 0.8rem;
    right: 1rem;
    width: 100px;
}