.links line {
    stroke: #343434;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #ff7058;
    stroke-width: 2px;
    fill: rgb(132, 219, 255);
}

#graph-window {
    display: inline-block;
    border: 1px solid #343434;
    border-radius: 1.5rem;
    background: white;
}

#graph-window h5 {
    background-color: #e9ecef;
    text-align: center;
    margin: 0;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 0.5rem;
    color: black;
}

.diffusionx-info {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #506068;
    color: white;
}

.diffusionx-info p {
    padding-right: 1rem;
    text-align: justify;
}

.diffusionx-info .graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-info {
    padding-top: 1rem;
    background: #ffffbe;
}

.register-info p {
    text-align: center;
    font-size: large;
    font-weight: lighter;
    color: #80aa2b;
    width: 100%;
}

#user-info {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background: #b7ec9e;
}

#user-info td {
    padding-left: 1rem;
}

#user-info .btn {
    color: #2a639c;
    padding: 0.2rem;
    margin-top: 0.4rem;
}