html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.logo img {
    height: 70px;
}

.logo span {
    font-size: 28px;
    font-weight: bold;
    position: relative;
    vertical-align: middle;
    color: white;
}

.nav-link {
    color: white !important;
    font-weight: bold;
    font-size: 1.05rem;
}

.logo a:hover {
    color: #00757a;
}

#layout-navbar {
    min-height: 80px;
    background: #076d07;
}

.login-box {
    max-width: 350px;
    position: relative;
    margin: 0 auto;
    top: 80px;
    background: #77c867;
    border-radius: 5px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.login-box .box-header {
    background-color: #262525;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
    color: white;
}

.login-box label {
    font-weight: bold;
}

.login-box .btn {
    margin-bottom: 10px;
}

#id_bio {
    height: 150px;
}

#loading_box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

#loading_image {
    max-width: 200px;
}

#loading_background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.5;
    z-index: 1;
}

.loading {
    display: none;
    z-index: 2;
}

li.nav-item {
    text-align: center;
    border-top: solid 1px #ffffff;
}

li.nav-item:hover {
    text-align: center;
    border-top: solid 1px #3eff3a;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    margin-top: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: white;
    text-align: center;
    background-color: #343434;
    flex-shrink: 0;
}