#network-select {
    background: #f4fcff;
    color: black;
}

#network-1 input {
    align-self: center;
}

#network-1 {
    margin-top: 2em;
    display: block;
}

#network-1 p {
    text-align: center;
}

#network-1 .fa-file-alt {
    font-size: 3em;
    color: green;
    display: block;
    position: relative;
    opacity: 0;
}

.network-option {
    display: none;
}

#drop-zone {
    width: 300px;
    height: 200px;
    left: 50%;
    margin-left: -150px;
    border: 2px dashed rgba(0, 0, 0, .3);
    border-radius: 20px;
    font-family: Arial;
    text-align: center;
    position: relative;
    line-height: 50px;
    font-size: 20px;
    color: rgba(0, 0, 0, .3);
}

#drop-zone input {
    cursor: pointer;
    opacity: 0;
}

#drop-zone.mouse-over {
    border: 2px dashed rgba(0, 0, 0, .9);
    color: rgba(0, 0, 0, .5);
}

#clickHere {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: 20px;
    line-height: 26px;
    color: white;
    font-size: 12px;
    width: 100px;
    height: 26px;
    border-radius: 4px;
    background-color: #3b85c3;
}

#clickHere:hover {
    background-color: #4499DD;
    cursor: pointer;
}

#clickHere #file-error {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-left: -125px;
    margin-top: -20px;
    width: 250px;
}

#random-graph {
    text-align: center;
    display: block;
    margin: auto;
    width: 66.6%;
}

#graph-parameters {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #3b85c342;
}

#graph-parameters th {
    vertical-align: top;
}

#graph-parameters input[type=checkbox] {
    width: 2em;
    height: 2em;
}

#graph-parameters p {
    font-weight: bold;
    font-style: italic;
    font-size: 0.8em;
}

#network-3 {
    margin-top: 3em;
    text-align: center;
}

#network-3 #konect_input {
    text-align: center;
    margin: 1em auto 0;
    width: 90%;
}

#network_form {
    text-align: center;
}

#network_submit {
    margin-top: 2em;
    width: 200px;
}

#network-select {
    background: #f4fcff;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#network_form_header {
    background: #3b85c3;
    padding-bottom: 20px;
    margin-bottom: 5px;
    color: white;
}

input.error {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

input.error:focus {
    background: rgb(251, 227, 228);
}

label.error {
    color: #8a1f11;
    display: inline-block;
}

.alert {
    margin-bottom: 0;
}

p.file_tip {
    font-size: 13px;
}

#network_name {
    width: 55%;
    border-radius: 6px;
    text-align: center;
}

#network_name-error {
    display: block;
}

#konect-link {
    margin-top: 20px;
}

#network-list-title {
    text-align: center;
    margin-top: 0.5rem;
}

.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #e4e4e4;
}

.table td {
    border-bottom: 1px solid #e9ecef;
}

#new-network-btn {
    text-align: right;
    margin-bottom: 1em;
    padding-right: 1em;
}

#graph-window {
    overflow-x: auto;
}

#network-table_wrapper .row {
    overflow-x: auto;
}

@media (min-width: 992px) {
    #file-details {
        max-width: 60%;
        margin: 20px auto auto;
    }
}

#file-details {
    margin: 20px auto auto;
}

#file-details label {
    width: 100px;
}

#file-details label.error {
    width: auto;
}

#file-details input {
    width: 178px;
}

#file-details select {
    width: 178px;
}

/* NETWORK DETAILS*/
#graph-window svg {
    margin-top: 1rem;
    border: 2px solid;
}

#network-details {
    padding-top: 1rem;
}

#network-info {
    padding: 1rem;
    background: #ececec;
    box-shadow: 7px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    #network-info {
        height: 500px;
    }
}

@media (min-width: 1100px) {
    #network-info {
        width: 500px;
        margin-left: auto;
    }
}

#network-info h2 {
    text-align: center;
    text-decoration: underline;
}

td.head {
    font-weight: bold;
}

#network-info table {
    margin: 1rem;
}

#network-info form {
    text-align: center;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 2px;
    fill: rgb(31, 119, 180);
}
