{% extends "diffusionx/layout.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if user.is_authenticated %}
            <div id="user-info" class="row">
                <div class="col-md-6">
                    <table>
                        <tr>
                            <th>Username:</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% if user.description|length > 0 %}
                            <tr>
                                <th>Description</th>
                                <td>{{ user.description }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th colspan="3 "><a href="/password_change" class="btn btn-warning">Change password</a></th>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table>
                        <tr>
                            {% if networks_number > 0 %}
                                <th>Networks number:</th>
                                <td><a href="/network">{{ networks_number }}</a></td>
                                <td><a href="/network/new"><i class="fas fa-plus-circle"></i></a></td>
                            {% else %}
                                <th colspan="3">You have no networks.
                                    <a href="/network/new">Create a network.<i class="fas fa-plus-circle"></i></a>
                                </th>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if experiments_number > 0 %}
                                <th>Experiments number:</th>
                                <td><a href="/experiment">{{ experiments_number }}</a></td>
                                <td><a href="/experiment/new"><i class="fas fa-plus-circle"></i></a></td>
                            {% elif networks_number > 0 %}
                                <th colspan="3">You have 0 experiments.
                                    <a href="/experiment/new">Create an experiment.</a></td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </div>
        {% else %}
            <div class="row register-info">
                <p>
                    If you don’t have an account yet, you can register right
                    <a href="/register"> here!</a>
                </p>
            </div>
        {% endif %}
        <div class="row diffusionx-info">
            <div class="col-md-6 graph-container">
                <div id="graph-window">
                    <svg width="400" height="300"></svg>
                    <h5>Zachary's Karate Club</h5>
                </div>
            </div>
            <div class="col-md-6">
                <h1> DiffusionX</h1>
                <p>
                    Diffusionx is a Django app for simulating information diffusion.
                </p>
                <p>
                    Simulate diffusion using popular models:
                </p>
                <ul>
                    <li>Linear Threshold Model</li>
                    <li>Independent Cascade Model</li>
                </ul>
                <p>
                    Upload your networks or generate using different models!
                </p>
                <p> Manage your networks and your experiments!</p>
            </div>
        </div>
    </div>


{% endblock %}

{% block js-code %}
    {{ block.super }}
    <script src="{% static 'bower_components/d3/d3.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        drawKarateClub()
    </script>
{% endblock %}