{% load staticfiles %}
{% load compress %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DiffusionX</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    {% compress css %}
        <link rel="stylesheet" type="text/css"
              href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
        <link rel="stylesheet"
              href="{% static 'bower_components/components-font-awesome/css/fontawesome-all.min.css' %}">
    {% endcompress %}

    {% compress css %}
        {% block css %}
        {% endblock %}
    {% endcompress %}

</head>

<body>
<div id="loading_box" class="loading">
    <img id="loading_image" src="{% static 'img/loading.gif' %}"/>
    <h2>LOADING...</h2>
</div>
<div id="loading_background" class="loading">

</div>
{% include "diffusionx/includes/header.html" %}

{% include "diffusionx/includes/messages.html" %}

<div class="content">
    {% block content %}
    {% endblock %}
</div>

{% include "diffusionx/includes/footer.html" %}
{% compress js %}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
{% endcompress %}

{% compress js %}
    {% block js-code %}
    {% endblock %}
{% endcompress %}

</body>

</html>