{% extends "diffusionx/layout.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/c3/c3.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diffusion.css' %}">
{% endblock %}

{% block content %}
    <div id="details-card" class="col-centered diffusion-card card">
        <div class="card-body">
            <h4 class="card-title">Diffusion details</h4>
            <form method="POST" class="delete-button-form" action="/diffusion/{{ data.id }}/delete">
                {% csrf_token %}
                <button class="btn btn-xs btn-danger" type="button" data-toggle="modal"
                        data-target="#confirm-dialog"
                        data-title="Delete diffusion"
                        data-message="Are you sure you want to delete this diffusion?">
                    <i class="fa fa-trash" aria-hidden="true"></i> Delete
                </button>
            </form>
            <table class="table">
                <tr>
                    <th>Network name</th>
                    <td><a href="/network/{{ data.network_id }}">{{ data.network.name }}</a></td>
                </tr>
                <tr>
                    <th>Diffusion model</th>
                    <td>{{ data.get_model_display }}</td>
                </tr>
                <tr>
                    <th>Model parameter</th>
                    <td>{{ data.model_param }}</td>
                </tr>
                <tr>
                    <th>Seed criteria</th>
                    <td>{{ data.seed_criteria }}</td>
                </tr>
                <tr>
                    <th>Seed value</th>
                    <td>{{ data.seed_value }}</td>
                </tr>
                <tr>
                    <th>Diffusion steps</th>
                    <td>{{ data.steps }}</td>
                </tr>
                <tr>
                    <th>Final cover ratio</th>
                    <td>{{ data.cover }}</td>
                </tr>
                <tr>
                    <th>All nodes</th>
                    <td>{{ data.network.nodes }}</td>
                </tr>
            </table>
        </div>
    </div>


    <div class="col-centered diffusion-card card">
        <button id="animation-start" class="btn btn-success">Start</button>
        <div class="row animation-status">
            <div class="col-6">
                <label>Animation speed</label>
                <br/>
                <input id="step-time" class="reversed-slider" type="range" min="100" max="3100" value="1000" step="250">
            </div>
            <div class="col-2">
                <span class="diffusion-step-status">Step <span class="status-value">1</span></span></div>
            <div class="col-2">
                <span class="active-nodes-status">Active <span class="status-value">...</span></span>
            </div>
            <div class="col-2">
                <span class="cover-status">Cover <span class="status-value">...</span></span>
            </div>
        </div>


        <div id="graph-window" class="col-md-12">
            <svg width="500" height="500"></svg>
        </div>


    </div>

    <div class="col-centered diffusion-card card">
        <div class="row">
            <div class="col-md-6">
                <div id="line-chart">
                </div>
            </div>
            <div class="col-md-6">
                <div id="pie-chart">
                </div>
            </div>
        </div>
    </div>

    {% include "diffusionx/includes/confirm_dialog.html" %}
{% endblock %}

{% block js-code %}
    {{ block.super }}
    <script src="{% static 'bower_components/d3/d3.min.js' %}"></script>
    <script src="{% static 'js/force-directed-graph.js' %}"></script>
    <script src="{% static 'bower_components/c3/c3.min.js' %}"></script>
    <script type="text/javascript">
        initConfirmDialog();

        //graph animation settings
        var currentGraphSize = {{ data.network.nodes }};
        var networkId = {{ data.network.id }};

        drawGraph(currentGraphSize, networkId);

        stepTime = 1000;
        changeColorDuration = 300;
        diffusionId = {{ data.id }};
        getDiffusions();

        $('#animation-start').click(function () {
            runAnimation();
        });

        $('#step-time').change(function () {
            stepTime = this.value;
        });
    </script>
    <script>
        var chart = c3.generate({
            bindto: '#line-chart',
            data: {
                columns: [
                    {{ steps }},
                    {{ steps_sum }}
                ]
            }
        });
        var pieChart = c3.generate({
            bindto: '#pie-chart',
            data: {
                columns: [
                    ['active nodes', {{ active_nodes }}],
                    ['nonactive nodes', {{ nonactive_nodes }}]
                ],
                type: 'pie'
            }
        });
    </script>

{% endblock %}