{% extends "diffusionx/layout.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/experiments.css' %}">
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <h1 class="display-4 text-center">Your experiments</h1>
        <div id="new-experiment-btn-container" class="align-table-margin">
            <a href="/experiment/new" class="btn btn-success"><i class="fas fa-plus"></i> Add experiment</a>
        </div>
        <table class="table table-dark table-striped" id="experiments-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Started at</th>
                <th>Diffusions</th>
            </tr>
            </thead>
            <tbody>
            {% for experiment in object_list %}
                <tr class='clickable-row' data-href='{{ experiment.0 }}'>
                    <td>{{ experiment.0 }}</td>
                    <td>{{ experiment.1 | date:"H:i, M d, Y" }}</td>
                    <td>{{ experiment.2 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center bg-warning">No experiment</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block js-code %}
    {{ block.super }}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables-datetime-moment/dist/js/datetime-moment.min.js' %}"></script>
    <script>
        $.fn.dataTable.moment('HH:mm, MMM DD, YYYY');

        var t = $('#experiments-table').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "order": [[1, 'desc']],
            "lengthMenu": [[10, 20, 30, -1], [10, 20, 30, "All"]],
            //add click listeners every time datatable is redrawn
            "fnDrawCallback": function () {
                $(".clickable-row").click(function () {
                    window.location = $(this).data("href");
                });
            }
        });

        //number rows according to their order
        t.on('order.dt search.dt', function () {
            t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    </script>
{% endblock %}