{% extends "diffusionx/layout.html" %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/experiment_form.css' %}">
{% endblock %}

{% block content %}
    <div id="nav-field">
        <div>
            <div class="left-title-steps">
                <button id="previousStep" class="btn btn-steps btn-secondary disabled">PREVIOUS</button>
            </div>
            <div class="right-title-steps" style="float: right">
                <button id="nextStep" class="btn btn-primary btn-steps">NEXT</button>
            </div>
            <div class="center-title-steps unselectable"><h2>NEW EXPERIMENT</h2></div>
        </div>
        <div class="steps clearfix unselectable">
            <ul>
                <li class="tab-experiment">
                    <a>1. Load network</a>
                </li>
                <li class="tab-experiment">
                    <a>2. Choose seed</a>
                </li>
                <li class="tab-experiment">
                    <a>3. Diffusion model</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        {% block step-content %}
        {% endblock %}
    </div>

{% endblock %}

{% block js-code %}
    {{ block.super }}
    <script>
        var step = {{ step }};
    </script>
    <script src="{% static 'js/step1.js' %}"></script>
    <script src="{% static 'js/step2.js' %}"></script>
    <script src="{% static 'js/step3.js' %}"></script>
    <script src="{% static 'js/experiment.js' %}"></script>
{% endblock %}
