{% extends "diffusionx/layout.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/experiments.css' %}">
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6"><h2 class="display-4 align-table-margin">Experiment</h2></div>
            <div class="col-md-6">
                <form method="POST" class="delete-button-form" action="/experiment/{{ experiment_id }}/delete">
                    {% csrf_token %}
                    <button class="btn btn-xs btn-danger" type="button" data-toggle="modal"
                            data-target="#confirm-dialog"
                            data-title="Are you sure you want to delete this experiment?"
                            data-message="Warning! Dependent diffusions would be deleted with the experiment.">
                        <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </button>
                </form>
            </div>
        </div>
        <div id="experiment-info-box">
            <p><span class="info-header">Experiment started at:</span> {{ started_at }}</p>
            <p><span class="info-header">Number of diffusions:</span> {{ object_list|length }}</p>
        </div>
        <table class="table table-striped" id="diffusions-table">
            <thead class="thead-mint">
            <tr>
                <th>#</th>
                <th>Network</th>
                <th>Model</th>
                <th>Model parameters</th>
                <th>Seed criteria</th>
                <th>Seed value</th>
                <th>Cover</th>
                <th>Steps</th>
            </tr>
            </thead>
            <tbody>
            {% for diffusion in object_list %}
                <tr class='clickable-row' data-href='/diffusion/{{ diffusion.id }}'>
                    <td>{{ diffusion.id }}</td>
                    <td><a href='/network/{{ diffusion.network.id }}'>{{ diffusion.network.name }}</a></td>
                    <td>{{ diffusion.get_model_display }}</td>
                    <td>{{ diffusion.model_param }}</td>
                    <td>{{ diffusion.seed_criteria }}</td>
                    <td>{{ diffusion.seed_value }}</td>
                    <td>{{ diffusion.cover }}</td>
                    <td>{{ diffusion.steps }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center bg-warning">No experiment</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "diffusionx/includes/confirm_dialog.html" %}
{% endblock %}

{% block js-code %}
    {{ block.super }}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables-datetime-moment/dist/js/datetime-moment.min.js' %}"></script>
    <script type="text/javascript">
        initConfirmDialog();

        //Datatables settings
        var t = $('#diffusions-table').DataTable({
            "columnDefs": [{
                "searchable": false,
                "orderable": false,
                "targets": 0
            }],
            "lengthMenu": [[10, 20, 30, -1], [10, 20, 30, "All"]],
            //add click listeners every time datatable is redrawn
            "fnDrawCallback": function () {
                $(".clickable-row").click(function () {
                    window.location = $(this).data("href");
                });
            }
        });

        //number rows according to their order
        t.on('order.dt search.dt', function () {
            t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    </script>
{% endblock %}