{% extends "diffusionx/layout.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/network.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div id="network-details" class="col-md-6">
                <div id="network-info">
                    <h2 class="display-4">Network info</h2>
                    <table>
                        <tr>
                            <td class="head">Name</td>
                            <td>{{ network.name }}</td>
                        </tr>
                        <tr>
                            <td class="head">Nodes</td>
                            <td>{{ network.nodes }}</td>
                        </tr>
                        <tr>
                            <td class="head">Edges</td>
                            <td>{{ network.edges }}</td>
                        </tr>
                        <tr>
                            <td class="head">Directed</td>
                            <td>{{ network.directed }}</td>
                        </tr>
                        <tr>
                            <td class="head">Added at</td>
                            <td>{{ network.added_at }}</td>
                        </tr>
                    </table>
                    <form method="POST" class="delete-button-form" action="/network/{{ network.id }}/delete">
                        {% csrf_token %}
                        <button class="btn btn-xs btn-danger" type="button" data-toggle="modal"
                                data-target="#confirm-dialog"
                                data-title="Are you sure you want to delete this network?"
                                data-message="Warning! Dependent diffusions would be deleted too">
                            <i class="fa fa-trash" aria-hidden="true"></i> Delete
                        </button>
                    </form>
                </div>
            </div>
            <div id="graph-window" class="col-md-6">
                <svg width="500" height="500"></svg>
            </div>
        </div>
    </div>

    {% include "diffusionx/includes/confirm_dialog.html" %}
{% endblock %}

{% block js-code %}
    {{ block.super }}
    <script src="{% static 'bower_components/d3/d3.min.js' %}"></script>
    <script src="{% static 'js/force-directed-graph.js' %}"></script>
    <script>
        //init modal prompt
        initConfirmDialog();

        var currentGraphSize = {{ network.nodes }};
        var networkId = {{ network.id }};

        drawGraph(currentGraphSize, networkId);
    </script>
{% endblock %}