{% extends "diffusionx/layout.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/network.css' %}">
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <h1 id="network-list-title" class="display-4">Networks</h1>
        <div id="new-network-btn">
            <a href="/network/new" class="btn btn-primary"><i class="fas fa-plus"></i> Add network</a>
        </div>
        <table class="table table-striped" id="network-table">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Nodes</th>
                <th>Edges</th>
                <th>Added at</th>
                <th>Directed</th>
            </tr>
            </thead>
            <tbody>
            {% for network in object_list %}
                <tr>
                    <td><a href="{{ network.0 }}"></a></td>
                    <td><a href="{{ network.0 }}">{{ network.1 }}</a></td>
                    <td>{{ network.2 }}</td>
                    <td>{{ network.3 }}</td>
                    <td>{{ network.4 | date:"H:i, M d, Y" }}</td>
                    <td>{{ network.5 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="text-center bg-warning">No network</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block js-code %}
    {{ block.super }}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables-datetime-moment/dist/js/datetime-moment.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('HH:mm, MMM DD, YYYY');

            var t = $('#network-table').DataTable({
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }],
                //initial ordering
                "order": [[4, 'desc']],
                //show entries number settings
                "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]]
            });

            ///number rows according to their order
            t.on('order.dt search.dt', function () {
                t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.getElementsByTagName("a")[0].innerHTML = i + 1;
                });
            }).draw();
        });
    </script>
{% endblock %}