{% extends "diffusionx/layout.html" %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/network.css' %}">
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" id="network_form" action="/network/new" method="post">
        {% csrf_token %}
        <div id="network_form_header">
            <label for="sel1">How do you want to create a new network?</label>
            <select class="form-control" name="network-select" id="network-select">
                <option value="1">Load network from an edge list file</option>
                <option value="2">Generate network graph</option>
                <option value="3">Load network from the Konect repository</option>
            </select>
        </div>
        <input type="text" id="network_name" name="network_name" placeholder="Name your network here" maxlength="128"/>
        <hr/>
        <div id="network-1" class="network-option network-select" max=128>
            <p id="filename">No file chosen</p>
            <div id="drop-zone">
                <i class="fas fa-file-alt"></i>
                <p id="drop-file">Drop file here...</p>
                <div id="clickHere">
                    Browse...
                    <input type="file" name="file" id="file" required="True"/>
                </div>
            </div>
            <div id="file-details" class="row">
                <div class="col-lg-6 col-sm-12">
                    <label>Delimiter</label>
                    <input name="delimiter" type="text" required>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label>Edgetype</label>
                    <select name="edgetype">
                        <option value="none">NONE</option>
                        <option value="int">INT</option>
                        <option value="float">FLOAT</option>
                        <option value="str">STR</option>
                    </select>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label>Comments</label>
                    <input name="comments" type="text" placeholder="'#' is default">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label>Directed</label>
                    <input name="directed" type="checkbox">
                </div>
            </div>
        </div>
        <div id="network-2" class="network-option">
            <select id="random-graph" name="random-graph">
                {% for network in networks %}
                    <option value={{ forloop.counter0 }}>{{ network }}</option>
                {% endfor %}
            </select>
            <div id="graph-parameters" class="offset-md-2 col-md-8">

            </div>
        </div>
        <div id="network-3" class="network-option">
            <div class="form-group">
                <label for="konect_input">Konect Network URL</label>
                <input type="url" class="form-control" name="konect-url" id="konect_input"
                       placeholder="Enter network address here" required>
                <p id="konect-link">Visit Konect repository: <a target="_blank"
                                                                href="http://konect.uni-koblenz.de/networks/">
                    http://konect.uni-koblenz.de/networks/ </a></p>
                <p class="file_tip"> *Warning, bigger files can be loading few minutes. Don't close the window after
                    submit unless you want to lose your progress.</p>
            </div>
        </div>
        <input id="network_submit" class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}

{% block js-code %}
    {{ block.super }}
    <script src="{% static 'bower_components/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery-validation/dist/additional-methods.min.js' %}"></script>
    <script src="{% static 'js/network_form.js' %}"></script>
{% endblock %}