{%  extends "diffusionx/layout.html" %}

{% block content %}
    <div class="login-box">
        <div class="box-header">
            <h2> LOG IN </h2>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-form-label">Username</label>
                <input class="form-control" type="text" name="username">
            </div>
            <div class="form-group">
                <label class="col-form-label">Password</label>
                <input class="form-control" type="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>

            <div>
                Not registered? <a href="/register"> Create an account </a>
            </div>

        </form>
    </div>

{%  endblock %}