{% extends "diffusionx/layout.html" %}
{% block content %}
    {% if form.errors %}
        <p>Password change failed</p>
    {% endif %}
    <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <input type="submit" value="Change Password"/>
    </form>
{% endblock %}