{% extends "diffusionx/layout.html" %}

{% block content %}
    <div class="login-box">
        <div class="box-header">
            <h2> REGISTER </h2>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="form-group has-errors text-danger small">
                    {{ error }}
                </div>
            {% endfor %}
            {% for field in form %}
                <div class="form-group has-errors text-danger small">
                    {{ field.errors }}
                </div>
                <div class="form-group has-errors text-danger small">
                </div>
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
{% endblock %}