{%  load staticfiles %}
<nav id="layout-navbar" class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <div class="logo">
        <a class="navbar-brand" href="/">
            <img src="{%  static 'img/logo.svg' %}">
            <span> DiffusionX </span>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar3">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/network">Networks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/experiment">Experiment</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/">About</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            {% else %}
               <li class="nav-item">
                   <a class="nav-link" href="/login">Login</a>
               </li>
            {% endif %}
        </ul>
    </div>
</nav>