{% if messages %}
  {% for msg in messages %}
    <div class="alert {{ msg.tags }} alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}